body {
    margin: 0px;
    padding: 2%;
    background: rgba(56, 50, 131, 1);
    background: linear-gradient(180deg, rgba(56, 50, 131, 1) 0%, rgba(0,0,0,1) 49%, rgba(56, 50, 131, 1)100%);
    color: white;
}

.titre, .navigation, .presentation, .leagueoflegend, .rocketleague {
    display: flex;
}

.titre img{
    margin: 15px 20px;
    width: 50px;
    height: 50px;
}

.navigation p {
    margin: 20px;
}

.navigation img {
    width: 50px;
    height: 50px;
}

.presentation p {
    margin: 0 5px;
    font-size: 17px;
}


.img_lol, .img_rocket {
    width: 25%;
    height: 25%;
}

h2 {
    font-size: 19px;
}


p {
    text-align: justify;
}


a {
    color: white;
}

@media  screen and (max-width: 640px){
    .leagueoflegend, .rocketleague {
        flex-direction: column;
    }

    .img_lol, .img_rocket {
        
        width: 100%;
        height: 100%;
    }
} 

@media  screen and (max-width: 780px){
    .leagueoflegend, .rocketleague {
        flex-direction: column;
    }

    .img_lol, .img_rocket {
        width: 100%;
        height: 100%;
    }
} 

@media  screen and (max-width: 1080px){
    .leagueoflegend, .rocketleague {
        flex-direction: column;
    }

    .img_lol, .img_rocket {
        
        width: 100%;
        height: 100%;
    }
} 