body {
    min-width: 100vh;
}

.header {
    background-image: url(assets/images/baniere-star.jpg);
    display: flex;
    color: white;
    background-repeat: no-repeat;
}
h1{
    margin-top: 5%;
    
}
.logo {
    width: 10%;
    height: 10%;
    padding: 2%;
}

.navigation {
    background-color: rgb(101, 218, 209);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: white;
}

.texte {

    text-align: center;
}
.nasa {

    display: flex;
    justify-content: space-around;
    
}
.logonasa {
    width: 15%;
    height: 15%;
    margin-top: 5%;
}







@media screen and (max-width: 740px) {

}
